<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Browsergame</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="styles.css" />
    <script src="https://unpkg.com/vue@next" defer></script>
    <script src="app.js" defer></script>
  </head>
  <body>
    <header>
      <h1>Browsergame</h1>
    </header>
    <div id="game">
      <section id="badguy" class="container">
        <h2>Bad Guy's Health</h2>
        <div class="healthbar">
          <div class="healthbar_value" :style="{width: badGuyHealth +'%'}"></div>
        </div>
      </section>

      <section id="player" class="container">
        <h2>Player's Health</h2>
        <div class="healthbar">
          <div class="healthbar_value" :style="{width: playerHealth +'%'}"></div>
        </div>
      </section>

    <div class="buttonContainer">
      <button @click="attackBadGuy">Attack</button>
      <button :disabled="round%5 !==0" @click="specialAttackBadGuy">Special Attack</button>
      <button @click="heal">Heal</button>
      <button @click="surrender">Surrender</button>
    </div>

    <div v-if="playerHealth===0 || badGuyHealth===0 && winner==''" class="winnerMessage"
    >
      <h2>{{ winner }} wins the game</h2>
      <button @click="startGame">Start a new round</button>
    </div>
   
    <section id="log" class="container" v-if="round>1">
      <h2>Battle Log</h2>
      <ul>
        <li v-for="logMessage in logMessages">
         
         <span :class="{'log--player': logMessage.actionBy==='player', 'log--badGuy' :  logMessage.actionBy==='badguy'}">{{logMessage.actionBy === 'player' ? 'Player' : 'BadGuy'}}</span>
         <span v-if="logMessage.actionType==='heal'"> heals himself
          <span class="log--heal">{{ logMessage.actionValue}}</span>
         </span>
         <span v-else-if="logMessage.actionType==='special attack'"> special attacked <span class="log--damage">{{ logMessage.actionValue}}</span></span>

         <span v-else> attacks <span class="log--damage">{{ logMessage.actionValue}}</span></span>
         
        </li>
      </ul>


    </section>



    </div>
  </body>
</html>
